{% extends "landing/base.html" %}

{% block content %}

<h2>Login to <em>Dozo</em></h2>

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<p>
    {{ form.username.label_tag }}<br>
    {{ form.username }}
</p>
<p>
    {{ form.password.label_tag }}<br>
    {{ form.password }}
</p>

<p>
    <button type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="reset">Clear</button>
</p>

{% if form.errors %}
<small style="color: red">Your username and password didn't match. Please try again.</small>
{% endif %}

</form>

<!-- <p>
    <a href="{% url 'password_reset' %}">Lost your password?</a>
    <br>(Sorry, doesn't work yet)
</p> -->

{% endblock %}