{% extends 'members/base.html' %}

{% block content %}

<h2>Join <em>Dozo</em></h2>

<form method=post action=/register/>

    {% csrf_token %}

    {% for field in form %}

    <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        <br>
        {% for error in field.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

    </p>

    {% endfor %}

    <p>
        <button type="submit"class=btn>Join</button>
        <button type="reset" class=btn>Clear</button>
    </p>

</form>

{% endblock %}