<!DOCTYPE html>
<html lang=en>
<head>
    {% block title %}<title>Dozo</title>{% endblock %}
    <meta charset=utf-8>
    <meta name=viewport content=width=device-width, initial-scale=1>
    {% load static %}
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css>
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js></script>
    <script src=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js></script>
    {% load static %}
    <link rel=stylesheet href={% static 'landing/style.css' %}>
</head>
<body>
<div class=container>


<div class=row>
    <div class=col-md-12>
        <br>
        <ul class="nav nav-tabs nav-justified">    
        {% if not user.is_authenticated %}
            <li class=nav-item><a class=nav-link href="{% url 'landing:home' %}">Home</a></li>
            <li class=nav-item><a class=nav-link href="{% url 'landing:join' %}">Join</a></li>
            <li class=nav-item><a class=nav-link href="{% url 'login' %}">Login</a></li>
        {% else %}
            {% if current|length or done|length %}
            <li class=nav-item><a class=nav-link href="{% url 'dashboard:go' %}">Dashboard</a></li>
            {% else %}
            <li class=nav-item><a class=nav-link href="{% url 'dashboard:dash' %}">Dashboard</a></li>
            {% endif %}
            <li class=nav-item><a class=nav-link href="#">Newsfeed</a></li>
            <li class=nav-item><a class=nav-link href="{% url 'landing:logout_member' %}">Logout</a></li>
        {% endif %}
        </ul>
        <br>
    </div>
</div>


<div class=row>
<div class=col-md-12>
{% block content %}{% endblock %}
</div>
</div>


</div>
</body>

</html>