<!DOCTYPE html>
<html lang=en>
<head>
    {% block title %}<title>Dozo</title>{% endblock %}
    <meta charset=utf-8>
    <meta name=viewport content=width=device-width, initial-scale=1>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel=stylesheet href={% static 'landing/style.css' %}>
</head>
<body>
<div class=container>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      {% if not user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'landing:home' %}">Dozo</a>
      {% else %}
      <a class="navbar-brand">Dozo</a>
      {% endif %}
    </div>
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        {% if current|length or done|length %}
        <li><a href="{% url 'dashboard:dozo' %}">Dashboard</a></li>
        {% else %}
        <li><a href="{% url 'dashboard:dash' %}">Dashboard</a></li>
        {% endif %}
        <li><a href=#>Newsfeed</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
        <li><a href="{% url 'landing:join' %}"><span class="glyphicon glyphicon-user"></span> Join</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% else %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{request.user.username}}</a></li>
        <li><a href="{% url 'landing:logout_user' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

<div class=row>
<div class=col-md-12>
{% block content %}{% endblock %}
</div>
</div>

<div class=row>
<div class=col-md-12>

  <ul class="list-inline">
    <li><small>{% if user.is_authenticated %}Logged in at {{request.user.last_login}}</small></li>
    <li><small><span class="badge">{{online_users|length}}</span> users online</small></li>
    <li><small><span class="badge">{{all_user_done}}</span> assignments finished{% endif %}</small></li>
  </ul>

</div>
</div>


</div>
</body>

</html>