{% extends "landing/base.html" %}
{% block content %}

  <h2>Welcome to <em>Dozo</em></h2>

    <p>Welcome to <em>Dozo</em>, a data-driven productivity and goal targeting tool.
      <br>Here's how you can optimize your growth as a developer with <em>Dozo</em>:</p>

  <h2>How <em>Dozo</em> Works</h2>

  <p>To be an efficient developer, you need focus. With Dozo, you can:</p>

  <ul>
      <li>Track and time your Coding Dojo assignments</li>
      <li>Have your own personal assignment dashboard</li>
      <li>Interact with other users </li>
  </ul>

<p>&nbsp;</p>

{% endblock %}