
.kanban{
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.center{
    text-align: center;
    text
}

.lane{
    padding: 10px;
}

.inline{
    display: inline;
    padding: 5px;
}