
*{
    /* outline: 1px solid red; */
}

.kanban{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.center{
    text-align: center;
    text
}

.lane{
    padding: 10px;
}

.inline{
    display: inline-block;
    padding: 5px;
}

body{
    background: url("/static/landing/bgpattern.png")
}

.container{
    background-color: white;
}

.color1{
    background-color: rgb(241, 225, 225)
}

.color2{
    background-color: rgb(220, 235, 243)
}

.color3{
    background-color: rgb(240, 240, 216)
}

.color4{
    background-color: rgb(245, 212, 212)
}

.score{
    background: url("/static/landing/arches.png")
}


