
*{
    /* outline: 1px solid red; */
}

.jumbotron{
    background-color: white
}

body,html {
  height: 100%;
}

.contentarea {

 /* 
  * replace 160px with the sum of height of all other divs 
  * inc padding, margins etc 
  */
  min-height: calc(100% - 160px); 
}

.kanban{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.center{
    text-align: center;
    text
}

.lane{
    padding: 10px;
}

.inline{
    display: inline-block;
    padding: 5px;
}

body{
    background: url("/static/landing/bgpattern.png")
}

.container{
    background-color: white;
}

.color1{
    background-color: rgb(177, 215, 129)
}

.color2{
    background-color: rgb(250, 208, 47)
}

.color3{
    background-color: rgb(246, 146, 41)
}

.color4{
    background-color: rgb(241, 105, 80)
}

.score{
    background: url("/static/landing/arches.png")
}

.tab{
    background: url("/static/landing/scribble.png")
}


/*
Navbar CSS
*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
