{% extends "landing/base.html" %}

{% block content %}

<div>
    <h1 class='display-4 center'><em>Dozo</em></h3>
        <p class=center>
        Welcome, <strong>{{request.user.first_name}}</strong>! Let's crush those assignments!<br>
        <small>
            You logged in on <strong>{{request.user.last_login}}</strong><br>
            <strong>Users online:</strong> 
    {% for user in online_users %}
        {% if online_users|length == 1 %}
            {{user.username}} (just you!)
        {% else %}
            {{user.username}} ({{user.first_name}}) &nbsp;
        {% endif %}
    {% endfor %}
        </small>
        </p>
</div>

<div class=kanban>

<div class="border border-top-0 border-bottom-0 lane">
<h5 class=center>Your Assignments</h5><hr>

{% if not assignments|length %}

    <p><strong>Select a Track</strong></p>
    <small>
    <p>Select a track from the menu to work through your assignments.</p>
    </small>

    <form method=POST action="{% url 'dashboard:assignments' %}">
        <div class=form_group>{% csrf_token %}
            <select name=track class=form-control>
                <option value=py_fun>Python Fundamentals</option>
                <option value=py_django_orm>Python: Django</option>
            </select>
        </div>
        <p><button type=submit class='btn btn-primary'>Ready!</button></p>    
    </form>
        
{% elif assignments|length %}

    <div class="list-group">
    {% for assignment in assignments %}
        <a href="{% url 'dashboard:addtoplans' assignment.id %}" class="color{{assignment.points}} list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>{{assignment.title}}</strong> 
                {% if assignment.optional %}(Optional){% endif %}</small>
            <small>{{assignment.points}}pts</small>
            </div>
            <small class="mb-1">
                Estimated Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat }}
            </small>
        </a>
    {% endfor %}
    </div>

{% endif %}

</div>

<div class="border border-top-0 border-bottom-0 border-left-0 lane">
<h5 class=center>Your Plans</h5><hr>

{% if commit|length %}
    <p><strong>Session List:</strong></p>
{% endif %}
{% if not commit|length and current|length %}
    <p><strong>Last One Left!</strong></p>
    <small>
        <p>You're in the final stretch! After completing this assignment, you'll be able to see your scorecard for this session. Keep going!</p>
    </small>
{% elif not current|length %}

<p><strong>You did it!</strong></p>
<small>
    <p>Great session, today! You worked really hard and learned a lot at the same time.
        To start a new session, click this button.</p>
    <p><a href="{% url 'dashboard:archive' %}">
        <button type=submit class='btn btn-primary'>Do More</button>
    </a></p>
</small>

{% endif %}

    <div class="list-group">
    {% for assignment in commit %}
    <a href =# class="color{{assignment.points}} list-group-item list-group-item-action align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>{{assignment.title}}</strong> 
                {% if assignment.optional %}(Optional){% endif %}</small>
          <small>{{assignment.points}}pts</small>
        </div>
        <small class="mb-1">
            Estimated Time: {{assignment.est_duration}}<br>
            Time Multiplier: {{assignment.time_mult|floatformat }}
        </small>
    </a>

{% endfor %}
    <br>
    </div>

</div>

<div class="border border-top-0 border-bottom-0 border-left-0 lane">
<h5 class=center>Currently Working On</h5><hr>

{% if current|length %}

    <div class="list-group">
    {% for assignment in current %}
        <a href=# class="color{{assignment.points}} list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>{{assignment.title}}</strong> 
                {% if assignment.optional %}(Optional){% endif %}</small>
            <small>{{assignment.points}}pts</small>
            </div>
            <small class="mb-1">
                Estimated Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat }}
            </small>
        </a>
    {% endfor %}
    </div>

    <small>
        <p>You only have <strong>{{commit|length}}</strong>
            assignment(s) left after this one. You got this!
        </p>
    </small>
    <p><a href="{% url 'dashboard:go' %}">
        <button type=submit class='btn btn-primary'>Dozo!</button>
    </a></p>
    
{% else %}

<p><strong>Here's your stats:</strong></p>
<small>

{% for assignment in stats %}
<p>
    <strong>{{assignment.title}}</strong><br>
    Start: {{assignment.start_time|date:"P"}}<br>
    End: {{assignment.end_time|date:"P"}}<br>
    Time: {{assignment.act_duration}}<br>
    Time Est: {{assignment.est_duration}}<br>
    {% if assignment.on_time %}
    On time: Yes!<br>
    {% else %}
    On time: No<br>
    {% endif %}
</p>
{% endfor %}
</small>


{% endif %}
</div>
<div class="border border-top-0 border-bottom-0 border-left-0 lane">
<h5 class=center>Done!</h5><hr>

<p><strong>Move Assignments Here</strong></p>
<small>
    <p>This is your goal. Move as many assignments as you can to this lane!</p>
</small>
    <div class="list-group">
    <a class="list-group-item align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>Today's Stats</strong></small>
            </div>
            <small class="mb-1">
                Potential This Session: <big><strong>{{potential_points}}</strong></big><br>
                Today's Total: <big><strong>{{actual_points}}</strong></big>
            </small>
        </a>
    </div>


    <div class="list-group">
    {% for assignment in done %}
    <a href=# class="color{{assignment.points}} list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>{{assignment.title}}</strong> 
                {% if assignment.optional %}(Optional){% endif %}</small>
            <small>{{assignment.points}}pts</small>
            </div>
            <small class="mb-1">
                Estimated Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat }}
            </small>
        </a>
    {% endfor %}
    </div>

</div>



</div>

{% endblock %}