{% extends "landing/base.html" %}

{% block content %}

<div>
    <h1 class='display-4 center'><em>Dozo</em></h3>
        <p class=center>
        Welcome, <strong>{{request.user.first_name}}</strong>! Let's crush those assignments!<br>
        <small>Last logged in on <strong>{{request.user.last_login}}</strong></small>
        </p>
</div>

<div class=kanban>

<div class="border border-top-0 border-bottom-0 lane">
<h5 class=center>Your Assignments</h5><hr>

{% if not assignments|length %}

    <p><strong>Select a Track</strong></p>
    <small>
    <p>Select a track from the menu to work through your assignments.</p>
    </small>

    <form method=POST action="{% url 'dashboard:assignments' %}">
        <div class=form_group>{% csrf_token %}
            <select name=track class=form-control>
                <option value=py_fun>Python Fundamentals</option>
                <option value=py_django_orm>Python: Django</option>
            </select>
        </div>
        <p><button type=submit class='btn btn-primary'>Ready!</button></p>    
    </form>
        
{% elif assignments|length %}

    <div class="list-group">
    {% for assignment in assignments %}
        <a href="{% url 'dashboard:addtoplans' assignment.id %}" class="list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>{{assignment.title}}</strong></small>
            <small>{{assignment.points}}pts</small>
            </div>
            <small class="mb-1">
                Estimated Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat }}
                {% if assignment.optional %}<br>(Optional){% endif %}
            </small>
        </a>
    {% endfor %}
    </div>

{% endif %}

</div>

<div class="border border-top-0 border-bottom-0 border-left-0 lane">
<h5 class=center>Your Plans</h5><hr>

{% if commit|length == 0 %}
<p><strong>Last One Left!</strong></p>
<small>
    <p>You're in the final stretch!<br>Don't give up now!</p>
</small>
{% endif %}

    <div class="list-group">
    {% for assignment in commit %}
    <a href =# class="list-group-item list-group-item-action align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <small class="mb-1"><strong>{{assignment.title}}</strong></small>
          <small>{{assignment.points}}pts</small>
        </div>
        <small class="mb-1">
            Estimated Time: {{assignment.est_duration}}<br>
            Time Multiplier: {{assignment.time_mult|floatformat }}
            {% if assignment.optional %}<br>(Optional){% endif %}
        </small>
    </a>
    {% endfor %}
    <br>
    </div>

<ul class=list-group>
    <small>
    <li class="list-group-item center"><strong>How Scoring Works</strong></li>
    <li class="list-group-item center">
        <p>Base Points<br>(Per Assignment)</p><p>x</p>
        <p>Time Multiplier<br>(Per Assignment)</p><p>x</p>
        <p># of Assignments<br>(if completed session)</p>
    </li>
    </small>
    <li class="list-group-item center">
        <strong>Potential: {{potential_points|floatformat}}</strong>
    </li>
</ul>

</div>

<div class="border border-top-0 border-bottom-0 border-left-0 lane">
<h5 class=center>Currently Working On</h5><hr>

{% if current|length %}

    <div class="list-group">
    {% for assignment in current %}
        <a href=# class="list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>{{assignment.title}}</strong></small>
            <small>{{assignment.points}}pts</small>
            </div>
            <small class="mb-1">
                Estimated Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat }}
                {% if assignment.optional %}<br>(Optional){% endif %}
            </small>
        </a>
    {% endfor %}
    </div>

    <small>
        <p>You only have <strong>{{commit|length}}</strong>
            assignment(s) left after this one. You got this!
        </p>
    </small>
    <p><a href="{% url 'dashboard:go' %}">
        <button type=submit class='btn btn-primary'>Dozo!</button>
    </a></p><hr>
{% endif %}

<!-- INSERT GOALS HERE -->


</div>
<div class="border border-top-0 border-bottom-0 border-left-0 lane">
<h5 class=center>Done!</h5><hr>

<p><strong>Hard Work Pays Off</strong></p>
<small>
    <p>When this list grows too long for your dashboard, click an assignment to move it to your profile.</p>
</small>

    <div class="list-group">
    {% for assignment in done %}
    <a href="{% url 'dashboard:archive' assignment.id %}" class="list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <small class="mb-1"><strong>{{assignment.title}}</strong></small>
            <small>{{assignment.points}}pts</small>
            </div>
            <small class="mb-1">
                Estimated Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat }}
                {% if assignment.optional %}<br>(Optional){% endif %}
            </small>
        </a>
    {% endfor %}
    </div><br>

</div>



</div>

{% endblock %}