{% extends "landing/base.html" %}

{% block content %}

<div class=kanban>

<div class="lane">
<h4 class=center><span class="glyphicon glyphicon-th-list"></span> Your Assignments</h4><hr>

{% if not assignments|length %}

    <p><strong>Step 1: Select a Track</strong></p>
    
    <p>Select a track from the menu:</p>
    

    <form method=POST action="{% url 'dashboard:assignments' %}">
        <div class=form_group>{% csrf_token %}
            <select name=track class=form-control placeholder=Python>
                <option value=pyfun1>Python Fundamentals 1</option>
                <option value=pyfun2>Python Fundamentals 2</option>
            </select>
        </div>
        <p><button type=submit class='btn btn-primary btn-md'>Ready!</button></p>    
    </form>
        
{% elif assignments|length %}

    <div class="list-group">
    {% for assignment in assignments %}
        <a href="{% url 'dashboard:addtoplans' assignment.id %}" class="color{{assignment.base_points}} list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">
                <strong>{{assignment.title}}</strong> <small>({{assignment.base_points}} pts)</small></p>
            </div>
            <small class="mb-1">
                Est. Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat}}<br>
            </small></a>
    {% endfor %}
    </div>

{% endif %}
</div>

<div class="lane">
<h4 class=center><span class="glyphicon glyphicon-edit"></span> This Session</h4><hr>
{% if not commit|length %}
    <p><strong>Step 2: Plan Your Session</strong></p>
    
    <p>Click the assignments to add them to your session. You'll earn points for each assignment completed. There are also two ways to multiply your points:</p>
    <p><strong>1. Time Multiplier</strong>: Multiplies each assignment's points if completed on time.</p>
    <p><strong>2. Session Multiplier</strong>: Multiplies your total points by the total number of assignments if you beat the time challenge (total estimated time plus a bonus).</p>
    <p>The more you complete within the given time, the greater the multiplier!</p>
    <br>
{% endif %}
{% if plans|length %}
    <div class="list-group">
    {% for assignment in plans %}
        <a href="{% url 'dashboard:addtoplans' assignment.id %}" class="color{{assignment.base_points}} list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">
                <strong>{{assignment.title}}</strong> <small>({{assignment.base_points}} pts)</small></p>
            </div>
            <small class="mb-1">
                Est. Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat}}<br>
            </small></a>
    {% endfor %}
    </div>
{% elif commit|length %}
    <div class="list-group">
    {% for assignment in commit %}
        <a href="{% url 'dashboard:addtoplans' assignment.id %}" class="color{{assignment.base_points}} list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">
                <strong>{{assignment.title}}</strong> <small>({{assignment.base_points}} pts)</small></p>
            </div>
            <small class="mb-1">
                Est. Time: {{assignment.est_duration}}<br>
                Time Multiplier: {{assignment.time_mult|floatformat}}<br>
            </small></a>
    {% endfor %}
    </div>
{% endif %}<br>

</div>

<div class="lane">
<h4 class=center><span class="glyphicon glyphicon-pushpin"></span> Currently Working On</h4><hr>
{% if commit|length %}
    <p><strong>Step 3: Keep On Working</strong></p>
    
        <p>Good job! Now it's time to work!</p>
        <p>When you click the button, the timer for your first assignment will start. Each time you press the button, a new timer will start for a new assignment.</p>
    
    <p><a href="{% url 'dashboard:go' %}"><button type=submit class='btn btn-primary btn-md'>Go!</button></a></p><br>
{% endif %}
{% if plans|length or not commit|length %}
    <p><strong>Step 3: Keep On Working</strong></p>
    
        <p>After planning out your session, click the button to commit to working throughout this session.</p>
    
{% endif %}

    <p><a href="{% url 'dashboard:commit' %}">
{% if commit|length %} 
{% elif not plans|length %}
        <button type=submit class='btn btn-default btn-md disabled'>Set!</button>
{% elif plans|length %}
        <button type=submit class='btn btn-primary btn-md'>Set!&nbsp;<span class="badge">{{plans|length}}</span></button>
{% endif %}
    </a></p>


</div>
<div class="lane">
<h4 class=center><span class="glyphicon glyphicon-check"></span>  Done!</h4><hr>

    <div class="list-group score">
    <a class="list-group-item align-items-start score">
            <div class="d-flex w-100 justify-content-between">
            <p class="mb-1 score"><strong>Session Summary:</strong></p>
            </div>
            <p class="mb-1 score">
                {% if plans|length %}
                Number of Assignments: <big><strong>{{plans|length}}</strong></big><br>
                {% else %}
                Number of Assignments: <big><strong>{{commit|length}}</strong></big><br>
                {% endif %}
                Est. Time: <big><strong>{{duration}} +{{bonus}}</strong></big><br>
                Time Challenge: <big><strong>{{challenge}}</strong></big><br>
                Potential Score: <big><strong>{{potential}}</strong></big>
            </p>
        </a>
    </div>

</div>
</div>

{% endblock %}